img{
    width:30%;
    float: left;
    margin: 1.66%;
}

p{
    margin: 1.66%;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 20px;
    width: 30%;
    text-transform: uppercase;
    font-weight: bold;
}